#container {
  display: inline-block;
  outline: none;
  cursor: default;
  color: white;
  font-size: 20px;
}

#container canvas {
  image-rendering: crisp-edges;
  background-color: black;
}

/* leave some room for margins, etc. (most browsers have 8px margins) */
@media all and (min-width: 1300px) {
  #container canvas {
    width: 1280px;
    height: 720px;
  }
}