#container {
  display: inline-block;
  outline: none;
  cursor: default;
  color: white;
  font-size: 20px;
}

#container canvas {
  image-rendering: crisp-edges;
  background-color: black;
}

@media all and (display-mode: fullscreen) {
  #container canvas {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
  }
}