.container {}

.container table {
  border-collapse: collapse;
  border-spacing: 0 0;
  font-family: system-ui;
  margin-bottom: 10px;
}

.container td,
.container th {
  border: 1px solid #000000;
  padding: 4px;
  cursor: default;
}

.container table input {
  outline: none;
  border: 1px solid #a0a0a0;
  border-radius: 1px;
}

.container table input:focus {
  border-color: #000000;
}
