.canvas {
  border: 1px solid #000000;
  image-rendering: crisp-edges; /* Firefox */
  image-rendering: pixelated;   /* Chrome */
}

.canvas.draw {
  cursor: url('../../../png/pencil.png') 13 23, crosshair;
}

.canvas.fill {
  cursor: url('../../../png/fill-bucket.png') 8 22, crosshair;
}

.canvas.pick {
  cursor: url('../../../png/eye-dropper.png') 9 22, crosshair;
}
