.editor {
  margin: 12px;
  display: inline-flex;
  flex-direction: column;
  align-items: stretch;
  border: 1px solid black;
}

.topRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid black;
}

.editor > * {
  margin: 8px;
}

.editor > *:not(:first-child) {
  margin-top: 8px;
}

.editor > *:not(:last-child) {
  margin-bottom: 8px;
}
