.toolPicker {
  display: flex;
  flex-direction: row;
}

.toolPicker > *:not(:first-child) {
  margin-left: 5px;
}
.toolPicker > *:not(:last-child) {
  margin-right: 5px;
}

.tool {
  border: 1px solid #808080;
  border-radius: 0;
  width: 50px;
  height: 25px;
  background-color: #e0e0e0;
  color: #808080;
  cursor: pointer;
}

.tool.selected {
  background-color: #f0f0f0;
  color: #000000;
}
