* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#container {
  display: inline-flex;
  outline: none;
  cursor: default;
  color: white;
  font-size: 20px;
  border: 1px solid black;
}

#container canvas {
  image-rendering: crisp-edges; /* Firefox */
  image-rendering: pixelated;   /* Chrome */
  background-color: black;
  display: block;
  outline: none;
}

#editor {
  display: none;
}

#editor canvas {
  background-color: #808080;
}

/*
 * Render the canvas at 2x (4x) size if the browser window is big enough,
 * Leave some room for margins, etc. (most browsers have 8px margins)
 */
@media all and (min-width: 1300px) {
  #container canvas {
    width: 1280px;
    height: 720px;
  }
}

body.fullscreen {
  overflow: hidden;
}

body.fullscreen #container {
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}

body.fullscreen #container canvas {
  width: 100vw;
  height: 100vh;
  max-height: 56.25vw;
  cursor: none;
}

body.fullscreen #debug {
  display: none;
}

body.electron #debug {
  display: none;
}
