* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
}

#container {
  display: inline-flex;
  outline: none;
  cursor: default;
  color: white;
  font-size: 20px;
  border: 1px solid black;
}

#container canvas {
  image-rendering: crisp-edges; /* Firefox */
  image-rendering: pixelated;   /* Chrome */
  background-color: black;
  display: block;
  outline: none;
}

#container canvas {
  width: 640px;
  height: 360px;
}

@media (min-width: 1280px) and (min-height: 720px) {
  #container canvas {
    width: 1280px;
    height: 720px;
  }
}

#container {
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: black;
}

body.fullscreen #container canvas {
  width: 100vw;
  height: 100vh;
  max-height: 56.25vw;
  cursor: none;
}

#debug {
  position: fixed;
  bottom: 0;
  left: 0;
}